<br/>

<div class="container">
  <div class="card text-white bg-dark mb-3">
    <div class="card-header">
      Déclarer un problème
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
      <div class="card-text">

        <form class="form-horizontal" 
        novalidate
         (ngSubmit)="save()" 
         [formGroup]="produitForm">
          <div class="form-group row">
            <label for="PrenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
            <div class="col-md-10">
              <input class="form-control" 
              id="PrenomId" 
              type="text" 
              placeholder="Votre prénom ici (obligatoire)" 
              formControlName="lePrenom" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>